
<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">  
      <a class="navbar-brand" href="#">Navbar Heading</a>
      <img alt="Brand" src="favicon.ico" alt="testimage">
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">     
      <ul class="nav navbar-nav navbar-right">  
        <li><a href="#">NAV 1</a></li>     
        <li><a href="#">NAV 2</a></li>
        <li><a href="#">NAV 3</a></li>
        <li><a href="#">NAV 4</a></li>  
        <li><a href="#">NAV 5</a></li>
        <li><a href="#">NAV 6</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


