<div>
  <ol>
    <li>Calgary International Airport
      <div>
        <p>
          I was involved in the design and development of the Interim Sortation solution during the demolition 
          phase of the DTB (Domestic) terminal. I upgraded the existing SCADA systems to include interim 
          check-in conveyor lines (Interim Domestic). I also upgraded the DTB SAC (Sort Allocation Controller 
          which is a Manufacturing Execution System type of software) to include the Sortation system of 
          Interim Domestic. I am currently working on the new SCADA system for IFP and DTB providing regular 
          updates on the SCADA related to the Crisbag (Independent carrier system) upgrading works.
        </p>
      </div>
    </li>
  </ol>
</div>
