<div class="container md-9">
        <div class="row container-fluid">
            <div class="col-md-9 offset-md-1">
                <h3>Projects</h3>
                <div *ngFor="let project of prjs.projects; trackBy: projectIdxTrack" class="">    
                        <div class="experience-card" >            
                            <p class="font-weight-bold" style="font-size:20px">{{project.Title}}</p>      
                            <p class="font-weight-normal">{{project.Content}}</p>
                            <hr>     
                        </div>    
                    </div>
                    
            </div>
        </div>
    </div>