<nav class="navbar fixed-top navbar-expand-lg navbar-dark nav-bar-padding" style="background-color: black;">
       <a class="navbar-brand" href="#"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
       </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item item-padding" [routerLinkActive]="['active']"><a class="nav-link py-0" [routerLink]="[ '/projects']" >Projects</a></li>     
            <li class="nav-item item-padding" [routerLinkActive]="['active']"><a class="nav-link py-0" [routerLink]="[ '/experience']">Experience</a></li>
            <li class="nav-item item-padding" [routerLinkActive]="['active']"><a class="nav-link py-0" [routerLink]="[ '/education']">Education</a></li>
            <li class="nav-item item-padding" [routerLinkActive]="['active']"><a class="nav-link py-0" [routerLink]="[ '/skills']">Skills</a></li>
            <li class="nav-item item-padding" [routerLinkActive]="['active']"><a class="nav-link py-0" [routerLink]="[ '/expertise']">Expertise</a></li>
            <li class="nav-item item-padding" [routerLinkActive]="['active']"><a class="nav-link py-0" [routerLink]="[ '/contact']">Contact</a></li>
            <li class="nav-item item-padding" data-toggle="tooltip" title="Go to GitHub profile" data-placement="bottom" data-animation="true"><a class="nav-link  py-0" href="https://github.com/ansar134" target="_blank" ><img src="assets/images/giticon-light.png" alt="gitIcon"  width="30" height="30" ></a></li>
            <li class="nav-item item-padding" data-toggle="tooltip" title="Go to LinkedIn profile" data-placement="bottom" data-animation="true"><a class="nav-link  py-0" href="https://www.linkedin.com/in/ansarrauf" target="_blank" ><img src="assets/images/linkedin-light.png" alt="gitIcon"  width="30" height="30" ></a></li>
            <li class="nav-item item-padding"><a class="nav-link py-0">Résumé</a></li>
          </ul>
        </div>
</nav>
<div class="contentPadding">
    <div class="row">
        <div class="container-fluid">
            <router-outlet></router-outlet>            
        </div>
    </div> 
</div>