.contentPadding{
    padding-top: 75px; 
}

.active {
    background:#1890FF; color:#000;
 }

 .item-padding{
     padding-top : 6px;
     padding-bottom : 6px;
     padding-left: 10px; 
     padding-right: 10px;   
 }

 .nav-bar-padding{
     padding-top : 0px;
     padding-bottom : 0px;
 }

 .homepage-top{
     background-image: url("https://images.wallpaperscraft.com/image/toronto_skyscrapers_night_panorama_120232_2560x1440.jpg");
     height: 400px;
     background-size: cover;
     background-repeat: no-repeat;
 }