<div class="container md-9">
    <div class="row container-fluid">
        <div class="col-md-9 offset-md-1">
            <div >
                <h4>
                Programming Languages
              </h4>
                <ul>
                    <li>
                        Java
                    </li>
                    <li>
                        .Net/C#
                    </li>
                    <li>
                        Python
                    </li>
                    <li>
                        Javascript (ES6) / HTML5 / CSS
                    </li>
                    <li>
                        SQL
                    </li>
                    <li>
                        STL (Siemens)
                    </li>
                </ul>

            </div>
            <div >
                <h4>
                Technologies
              </h4>
                <ul>
                    <li>
                        Angular
                    </li>
                    <li>
                        Silverlight
                    </li>
                    <li>
                        JavaFX
                    </li>
                    <li>
                        MS SQL Server
                    </li>
                    <li>
                        VMWare
                    </li>
                    <li>
                        TCP/IP
                    </li>
                    <li>
                        FTP
                    </li>
                    <li>
                        JMS/Message Brokers
                    </li>
                    <li>
                        WebSockets
                    </li>
                    <li>
                        WebSockets
                    </li>

                </ul>

            </div>
            
        </div>
    </div>
</div>