<div class="container md-9">
	<div class="row">
		<div class="col-md-9 offset-md-1">
			<h3>Experience</h3>
			<ul class="timeline">
				<li>
          <div class="shadow-lg mb-5 bg-white rounded experience-card" >            
            <a target="_blank" href="https://www.beumergroup.com/en/home" class="font-weight-bold" style="font-size:20px">BEUMER Group GmbH</a>
            <p class="float-right">Aug. 2014 - present</p>
            <p class="font-weight-light font-italic">Software Engineer, Global Airports & Logistics Projects</p>
					  <p class="font-weight-normal">
                Design, development, and commission automation computer controls software products written in Java 8 and .Net (C#) for large scale
                fully automated logistics and baggage handling projects.
            </p>
          
          </div>
				</li>
				<li>
            <div class="shadow-lg mb-5 bg-white rounded experience-card" >            
              <a target="_blank" href="https://en.wikipedia.org/wiki/National_Engineering_and_Scientific_Commission" class="font-weight-bold" style="font-size:20px">National Engineering & Scientific Commission</a>
              <p class="float-right">Feb. 2012- May. 2013</p>
              <p class="font-weight-light font-italic">Assistant Manager – Systems Development</p>
              <p class="font-weight-normal">
                  Design, development and testing of GUIs in WPF (.Net) for ground control system of Unmanned Aerial Vehicles.
              </p>
            
            </div>
        </li>
          <li>
              <div class="shadow-lg mb-5 bg-white rounded experience-card" >            
                <a target="_blank" href="http://fccl.com.pk/" class="font-weight-bold" style="font-size:20px">Fauji Cements.</a>
                <p class="float-right">Sept 2010- Feb. 2012</p>
                <p class="font-weight-light font-italic">Trainee Engineer, Instrumentation & Controls</p>
                <p class="font-weight-normal">
                    Design, development, and commission automation computer controls software products written in Java 8 and .Net (C#) for large scale
                    fully automated logistics and baggage handling projects.
                </p>
              
              </div>
          </li>
			</ul>
		</div>
	</div>
</div>